<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="hibernate.connection.url">jdbc:mysql://localhost/aterrizage_test</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="show_sql">true</property>


        <mapping resource="ar/edu/unq/persistencia1/Usuario.xml"/>
        <mapping resource="ar/edu/unq/persistencia1/enterprise/Aerolinea.xml"/>
        <mapping resource="ar/edu/unq/persistencia1/enterprise/Asiento.xml"/>
        <mapping resource="ar/edu/unq/persistencia1/enterprise/Categoria.xml"/>
        <mapping resource="ar/edu/unq/persistencia1/enterprise/Tramo.xml"/>
        <mapping resource="ar/edu/unq/persistencia1/enterprise/Vuelo.xml"/>
         
         
         
         
    </session-factory>
</hibernate-configuration>